.badge {
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 0.6rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
}

.primary {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

.secondary {
    background: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
}

.warning {
    background: hsl(var(--warning));
    color: hsl(var(--warning-foreground));
}

.outline {
    background: none;
    border: 1px solid hsl(var(--primary) / 0.2);
    color: hsl(var(--primary));
}

.custom {
    animation: party 10s infinite forwards;
    color: white;
}

@keyframes party {
    0% {
        background: red;
    }
    25% {
        background: orange;
    }
    50% {
        background: green;
    }
    75% {
        background: blue;
    }
    100% {
        background: purple;
    }
}
