.button {
    font-size: 0.9rem;
    line-height: 100%;
    padding: 0.675rem 1rem;
    box-shadow: none;
    cursor: pointer;
    border-radius: calc(var(--radius) - 2px);;
    font-weight: 400;
    transition: background var(--animation-duration);
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 2.25rem;
    white-space: nowrap;
    display: inline-flex;
}

.button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.button:focus {
    outline-offset: 2px;
}

.primary {
    border: none;
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

.primary:hover {
    background: hsl(var(--primary) / 0.85);
}

.secondary {
    border: none;
    background: hsl(var(--secondary) / 0.8);
    color: hsl(var(--secondary-foreground));
}

.secondary:hover {
    background: hsl(var(--secondary));
}

.success {
    border: none;
    background: hsl(var(--success));
    color: hsl(var(--success-foreground));
}

.success:hover {
    background: hsl(var(--success) / 0.85);
}

.warning {
    border: none;
    background: hsl(var(--warning));
    color: hsl(var(--warning-foreground));
}

.warning:hover {
    background: hsl(var(--warning) / 0.85);
}

.destructive {
    border: none;
    background: hsl(var(--destructive));
    color: hsl(var(--destructive-foreground));
}

.destructive:hover {
    background: hsl(var(--destructive) / 0.85);
}

.outline,
.icon {
    border: 1px solid hsl(var(--primary) / 0.2);
    background: none;
}

.icon {
    padding: 0.6rem;
}

.outline:hover,
.icon:hover {
    background: hsl(var(--primary) / 0.075);
}

.ghost {
    border: none;
    background: none;
}

.ghost:hover {
    background: hsl(var(--primary) / 0.05);
}

.link {
    border: none;
    background: none;
    transition: unset;
}

.link:hover {
    text-decoration: underline;
}

.loading {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    border: none;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.loading_icon {
    fill: hsl(var(--primary-foreground));
    animation: spin 1s forwards infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
