.badge {
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 0.6rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
}

.primary {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

.secondary {
    background: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
}

.success {
    background: hsl(var(--success));
    color: hsl(var(--success-foreground));
}

.warning {
    background: hsl(var(--warning));
    color: hsl(var(--warning-foreground));
}

.destructive {
    background: hsl(var(--destructive));
    color: hsl(var(--destructive-foreground));
}

.outline {
    background: none;
    border: 1px solid hsl(var(--primary) / 0.2);
    color: hsl(var(--primary));
}