@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary: 0 0% 0%;
    --primary-foreground: 0 100% 100%;
    --secondary: 0 5% 85%;
    --secondary-foreground: 0 0% 0%;
    --success: 133 61% 33%;
    --success-foreground: 0 100% 100%;
    --warning: 45 100% 44%;
    --warning-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 100% 100%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --animation-duration: 300ms;
    --radius: 0.5rem; 
    --accent: 240 40% 90%;
    --accent-foreground: 240 5.9% 10%;
    --shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

html,
body {
    height: 100%;
    margin: 0;
    /* background: linear-gradient(45deg, #564fe5, #5f5adb); */
    background: rgb(26, 26, 26);
    background-size: cover;
    padding: 2rem;
    letter-spacing: -0.025em;
    transition: var(--animation-duration);
}

*, *:before, *:after {
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-block: 0 1.5rem;
}

.container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.component_display {
    margin-bottom: 2em;
    background: white;
    padding: 2rem 1.5rem;
    border-radius: 10px;
}

.custom_badge {
    animation: party 10s infinite forwards;
    color: white;
}

@keyframes party {
    0%, 100% {
        background: red;
    }
    20% {
        background: orange;
    }
    40% {
        background: green;
    }
    60% {
        background: blue;
    }
    80% {
        background: purple;
    }
}

@media screen and (max-width: 775px) {
    html,
    body {
        padding-inline: 1rem;
    }
}